.container1 a{
  background-color:#000;
}
header{
  
  display: flex;
  justify-content: space-between;
  max-width: 1111px;
max-height: 32px;
margin: 54px 0;
}
ul{
  display: flex;
 list-style: none;
 align-items: center;
 
}
li{
  margin: 0 20px;
  font-family: 'Public Sans' sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;

}


a:hover{
  color: #5FB4A2;
}