footer{
    position:relative;
    top: 55px;
    max-width: 100vw;
  height: 32px;
    display: flex;
   margin-left: 450px;
   background-color: #000;
   margin: 54px 0;
     }
    
  
  footer ul{
    color: #fff;
    margin-right: 620px;
   
  }
  footer a{
    color: #fff;
    text-decoration: none;
  }
  footer img{
    margin-right: 10px;
  }